a.social{
    --bg-image: "";
    background-image: var(--bg-image);
    width: 1.5rem;
    height: 1.5rem;
    display: block;

    &[aria-label="tiktok"]{
        --bg-image: url(../assets/icons/tiktok.svg);
    
        &:hover{
            --bg-image: url(../assets/icons/tiktok-hover.svg);
        }
    }
    
    &[aria-label="twitter"]{
        --bg-image: url(../assets/icons/twitter.svg);
    
        &:hover{
            --bg-image: url(../assets/icons/twitter-hover.svg);
        }
    }

    &[aria-label="discord"]{
        --bg-image: url(../assets/icons/discord.svg);
    
        &:hover{
            --bg-image: url(../assets/icons/discord-hover.svg);
        }
    }

    &[aria-label="instagram"]{
        --bg-image: url(../assets/icons/instagram.svg);
    
        &:hover{
            --bg-image: url(../assets/icons/instagram-hover.svg);
        }
    }
}
